
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('Rend6.0.2.png');
	background-position: center;
	background-size: cover;
	position: relative;
}
.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.text-box h1{
	font-size: 45px;

}
.text-box p{
	margin: 10px o 40px;
	font-size: 15px;
	color: #fff;
}


@media(max-width: 700px) {
	.text-box h1{
		font-size: 20px;
	}	
}


/*---design---*/
.design{
	background: #000000;
	width: 100%;
	height: 500%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.design h1{
	font-size: 40px;
	font-weight: 600;
	color: #fff;
}
.design p{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.slidershow{
	width: 700px;
	height: 400px;
	overflow: hidden;
}
.middle{
	position: absolute;
	top: 140%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.navigation{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
}
.bar{
	width: 40px;
	height: 10px;
	border: 2px solid #fff;
	margin: 6px;
	cursor: pointer;
	transition: 0.3s;
}
.bar:hover{
	background: #fff;
}

input[name="r"]{
	position: absolute;
	visibility: hidden;
}
.slides{
	width: 300%;
	height: 100%;
	display: flex;
}

.slide{
	width: 100%;
	transition: 0.4s;
}
.slide img{
	width: 100%;
	height: 100%;
}

#r1:checked ~ .s1{
	margin-left: 0;
}
#r2:checked ~ .s1{
	margin-left: -60%;
}
#r3:checked ~ .s1{
	margin-left: -200%;
}

@media (max-width: 700px) {
	.slidershow{
		width: 100%;
		height: 300px;
		padding-top: 240px;
	}

	
}


/*---specs--*/
.specifications{
	background: #000000;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 600px;

}
.specifications h2{
	font-size: 30px;
	font-weight: 600;
	color: #fff;
}
.specifications p{
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

/*----footer---*/
.footer{
	background: #000000;
	width: 100%;
	text-align: center;
	padding-top: 400px;
}
.footer h3{
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 25px;
	margin-top: 20px;
}
.footer p{
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
@media (max-width: 700px) {
	.footer{
		padding-top: 1px;
	}
	
}